---
layout: page
title: Tools
permalink: /tools/
---

<p>A list of the tools developed and maintained by the IA Content Team.</p>

{% assign tools_by_category = site.tools | group_by: "category" %}

<ul>
{% for category in site.tool_categories %}
<li><a href="#{{ category.name | slugify }}">{{ category.name }}</a></li>
{% endfor %}
</ul>

{% for category in site.tool_categories %}
<div class="row">
  <div class="col">
    <h2>{{ category.name }}<a id="{{ category.name | slugify}}"></a></h2>
  </div>
</div>

{% assign tools = tools_by_category | where_exp: "entry", "entry.name == category.name" | first %}
{% for tool in tools.items %}
<div class="row">
  <div class="col">
    <h3><a href="{{ tool.url | relative_url }}">{{ tool.title }}</a></h3>
  </div>
  <div class="col">
    {{ tool.description }}<br/>
    {% if tool.gem %}<img alt="Gem downloads" src="https://img.shields.io/gem/dt/{{ tool.gem }}?logo=rubygems">{% endif %}
    {% if tool.puppet_module %}
    <img alt="Puppet Forge downloads" src="https://img.shields.io/puppetforge/dt/{{ tool.puppet_module }}">
    <img alt="Puppet Forge endorsement" src="https://img.shields.io/puppetforge/e/{{ tool.puppet_module }}">
    {% endif %}
    {% if tool.github %}
    {% if tool.travis_org %}<img alt="Travis" src="https://img.shields.io/travis/{{ tool.github }}?logo=travis">{% endif %}
    {% if tool.travis_com %}<img alt="Travis" src="https://img.shields.io/travis/com/{{ tool.github }}?logo=travis">{% endif %}
    {% if tool.appveyor %}<img alt="Appveyor" src="https://img.shields.io/appveyor/build/{{ tool.github }}?logo=appveyor" />{% endif %}
    {% if tool.workflow %}<img alt="GitHub Actions" src="https://img.shields.io/github/workflow/status/{{ tool.github }}/{{ tool.workflow }}?logo=github" />{% endif %}
    {% if tool.codecov_token %}<img alt="Codecov" src="https://img.shields.io/codecov/c/gh/{{ tool.github }}?logo=codecov&token={{ tool.codecov_token }}">{% endif %}
    {% endif %}
  </div>
</div>
<br/>
{% endfor %}
<hr />
<br />
{% endfor %}
